<div>
    <br>
    <mat-card>
      <section class="mat-typography">
          <h3>Update Server</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="updateForm" class="edit-form">
        <mat-form-field class="field-full-width">
          <input placeholder="Name" matInput formControlName="name" #name>
        </mat-form-field>
        <mat-divider></mat-divider>
        <br><br>
        <button mat-raised-button color="accent" routerLink="/read">Back</button>&nbsp;
        <button type="submit" (click)="updateServer(name.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Submit</button>
      </form>
    </mat-card>
</div>
